/* commons css */
.container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins';
}
/* Navbar Section css */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10vh 0;
    font-family: 'Orbitron';
}
.logo img {
    width: 60%;
}
.list {
    list-style-type: none;
}
.list-item {
    display: inline-block;
    margin: 0 10px;
    font-weight: 700;
}
.button-group {
    display: flex;
    align-items: center;
    gap : 10px;
}
.nav-button {
    border: 2px solid black;
    padding: 5px 25px;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
}

/* Hero Banner Section css */
.hero-container {
    display: flex;
    position: relative;
}
.hero-container-left {
    width: 40%;
}
.star {
    position: absolute;
    top: 10%;
    right: 0;
}
.star img {
    width: 50%;
}
.globe {
    position: absolute;
    left: 50%;
}
.globe img {
    width: 50%;
}
.square {
    position: absolute;
    top: 38%;
    left: 10%;
}
.square img{
    width: 60%;
}
.man {
    position: absolute
}
.man img {
    width: 55%;
}
.hero-container-right {
    width: 60%;
    margin-top: 10vh;
    text-align: center;
}
.hero-heading {
    font-family: 'Orbitron';
    font-size: 40px;
}
.button-email{
    padding: 3px 15px;
    background: transparent;
    border-radius: 8px;
    font-family: 'Orbitron';
}
.button-join {
    color: white;
    background: black;
    padding: 3px 15px;
    border-radius: 8px;
    font-family: 'Orbitron';
}

.icons img {
    width: 5%;
    margin: 0 5px;
}

/* Responsive CSS for Medium Screen */
@media(max-width: 992px){
    .hero-container {
        flex-direction: column;
    }
    .hero-container-left {
        width: 100%;
    }
    .square {
        top: 17vw;
        left: 12vw;
    }
    .globe {
        left: 50vw;
    }
    .star {
        top: 10vw;
    }
    .hero-container-right {
        width: 100%;
        margin-top: 50vw;
    }
}

/* Responsive CSS for Small Screen */
@media(max-width: 768px){
    .navbar-container {
        flex-direction: column;
        gap: 3vw;
        margin: 5vh 0;
    }
    .list {
        text-align: center;
    }
    .logo img {
        height: 50%;
        width: auto;
    }
    .hero-container-right {
        margin-top: 55vw;
    }
}

